@font-face {
	font-family: MrPixel;
	src: url(fonts/mrpixel.otf);
}

canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
	font-smooth: never;
	-webkit-font-smoothing : none;
	margin:0; 
	padding:0; 
	border: 1px 
	solid #222222;
}

.asset {
	display:none;
}

body {
	margin: 0; 
	padding: 0; 
	background: #111111;
}

#palette {
	background-color: rgba(0,0,0,0.5);
	position: absolute; 
	right: 10px; 
	top: 10px; 
	width: 125px;
	height: 550; 
	border: 1px solid gray;
	border-radius: 10px;
	font-family: MrPixel;
	color: white;
	display: none;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#palette-items {
	margin-left: 10px;
	margin-right: 10px;
}
#palette-properties {
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;

}

#palette img {
	opacity: 0.8;
}

#palette img:hover {
	opacity: 1.0;
}

.palette-tab {
	font-size: 0.75em;
	display:inline;
	opacity: 0.8;
}
.palette-tab:hover {
	opacity: 1.0;
}

#palette-tab-items {
	text-decoration: underline;
}
#palette-tabs {
	white-space: nowrap;
	margin-bottom: 10px;
}

input {
	background-color: black;
	border: 1px solid gray;
	margin: 0px;
	padding: 0px;
	display: block;
	width: 100%;
	color: white;
	border-radius: 3px;
	box-sizing: border-box;
}
